/MappingRestriction.java
/RelationFinishAtTheSameTime.java
/RelationStartAfterOtherTaskFinished.java
/RelationStartAtTheSameTime.java
/RelationWithManyTasks.java
/RelationWithManyTasksAndDelay.java
/RelationWithTwoTasksAndDelay.java
/SchedulingRestriction.java
/ComplexRelation.java
/MappingRelation.java
/RestrictionFinishAtTheSameTime.java
/RestrictionStartAfterOtherFinished.java
/RestrictionStartAfterOtherStarted.java
/RestrictionStartAtTheSameTime.java
/SimpleRelation.java
/CustomIntProperty.java
/CustomProperty.java
/CustomStringProperty.java
/SchedulingResult.java
