[submodule "ch.hilbri.assist.libraries.jgrapht/jgrapht"]
	path = ch.hilbri.assist.libraries.jgrapht/jgrapht
	url = https://github.com/jgrapht/jgrapht
[submodule "ch.hilbri.assist.libraries.args4j/args4j"]
	path = ch.hilbri.assist.libraries.args4j/args4j
	url = https://github.com/kohsuke/args4j
[submodule "ch.hilbri.assist.libraries.automaton/automaton"]
	path = ch.hilbri.assist.libraries.automaton/automaton
	url = https://github.com/dweiss/dk.brics.automaton
[submodule "ch.hilbri.assist.libraries.math/commons-math"]
	path = ch.hilbri.assist.libraries.math/commons-math
	url = https://github.com/apache/commons-math
[submodule "ch.hilbri.assist.libraries.choco/choco-solver"]
	path = ch.hilbri.assist.libraries.choco/choco-solver
	url = https://github.com/chocoteam/choco-solver.git
[submodule "ch.hilbri.assist.libraries.choco/protobuf"]
	path = ch.hilbri.assist.libraries.choco/protobuf
	url = https://github.com/google/protobuf.git
[submodule "ch.hilbri.assist.libraries.choco-sat/choco-sat"]
	path = ch.hilbri.assist.libraries.choco-sat/choco-sat
	url = https://github.com/chocoteam/choco-sat.git
[submodule "ch.hilbri.assist.libraries.cutoffseq/cutoffseq"]
	path = ch.hilbri.assist.libraries.cutoffseq/cutoffseq
	url = https://github.com/chocoteam/cutoffseq.git
[submodule "ch.hilbri.assist.libraries.cpprof-java/java-integration"]
	path = ch.hilbri.assist.libraries.cpprof-java/java-integration
	url = https://github.com/cp-profiler/java-integration.git
[submodule "ch.hilbri.assist.libraries.choco/choco-sat"]
	path = ch.hilbri.assist.libraries.choco/choco-sat
	url = https://github.com/chocoteam/choco-sat
