[submodule "ch.hilbri.assist.libraries.choco/choco3"]
	path = ch.hilbri.assist.libraries.choco/choco3
	url = https://github.com/chocoteam/choco3
[submodule "ch.hilbri.assist.libraries.jgrapht/jgrapht"]
	path = ch.hilbri.assist.libraries.jgrapht/jgrapht
	url = https://github.com/jgrapht/jgrapht
[submodule "ch.hilbri.assist.libraries.args4j/args4j"]
	path = ch.hilbri.assist.libraries.args4j/args4j
	url = https://github.com/kohsuke/args4j
[submodule "ch.hilbri.assist.libraries.automaton/automaton"]
	path = ch.hilbri.assist.libraries.automaton/automaton
	url = https://github.com/dweiss/dk.brics.automaton
[submodule "ch.hilbri.assist.libraries.math/commons-math"]
	path = ch.hilbri.assist.libraries.math/commons-math
	url = https://github.com/apache/commons-math
[submodule "ch.hilbri.assist.libraries.codecs/commons-codec"]
	path = ch.hilbri.assist.libraries.codecs/commons-codec
	url = https://github.com/apache/commons-codec
