<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>



   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ASSIST-Scheduling-Model -->
      <package
            uri="ch.hilbri.assist.scheduling.model"
            class="ch.hilbri.assist.scheduling.model.ModelPackage"
            genModel="model/ASSIST-Scheduling-Model.xcore"/>
   </extension>

</plugin>
