<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.hilbri.assist.mapping.ui.multipageeditor.MultiPageEditor"
            contributorClass="ch.hilbri.assist.mapping.ui.multipageeditor.MultiPageEditorContributor"
            default="true"
            extensions="mdsl"
            icon="icons/icon-mapping-specification-16x16.png"
            id="ch.hilbri.assist.mapping.editors.mappingeditor"
            name="Mapping Specification">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="ch.hilbri.assist.mapping.Mapping"
            name="Mapping">
      </category>
      <wizard
            category="ch.hilbri.assist.mapping.Mapping"
            class="ch.hilbri.assist.mapping.ui.wizards.NewMappingSpecificationWizard"
            icon="icons/icon-mapping-specification-16x16.png"
            id="ch.hilbri.assist.mapping.wizards.newMappingSpecification"
            name="Mapping Specification">
         <description>
            This wizard creates a new mapping specification file with *.mdsl extension.
         </description>
      </wizard>
   </extension>

</plugin>
