<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         id="id1"
         point="org.eclipse.e4.workbench.model">
      <fragment
            apply="always"
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="ch.hilbri.assist.mapping.ui.multipageeditor.MultiPageEditor"
            contributorClass="ch.hilbri.assist.mapping.ui.multipageeditor.MultiPageEditorContributor"
            default="false"
            extensions="mdsl"
            id="ch.hilbri.assist.mapping.editors.mappingeditor"
            name="Mapping Specification">
      </editor>
   </extension>

</plugin>
