<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="ch.hilbri.assist.scheduling.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   <extension point="org.eclipse.ui.editors">
      <editor
            class="ch.hilbri.assist.scheduling.ui.multipageeditor.MultiPageEditor"
            contributorClass="ch.hilbri.assist.scheduling.ui.multipageeditor.MultiPageEditorContributor"
            default="true"
            extensions="sdsl"
            icon="icons/scheduling-specification.png"
            id="ch.hilbri.assist.scheduling.dsl.SchedulingDsl"
            name="Scheduling Specification">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="ch.hilbri.assist.scheduling.category"
            name="Scheduling"
            parentCategory="ch.hilbri.assist.gui.category.main">
      </category>
      <wizard
            category="ch.hilbri.assist.gui.category.main/ch.hilbri.assist.scheduling.category"
            class="ch.hilbri.assist.scheduling.ui.wizards.ImportAPP4MCWizard"
            icon="icons/app4mc-logo-16.png"
            id="ch.hilbri.assist.scheduling.ui.wizards.ImportAPP4MCWizard"
            name="AMALTHEA 0.9.0 Model">
         <description>
            Import an AMALTHEA 0.9.0 model from the local file system into the workspace as a new ASSIST scheduling specification.
         </description>
      </wizard>
   </extension>
     

</plugin>
