<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="ch.hilbri.assist.scheduling.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            canFinishEarly="false"
            category="ch.hilbri.assist.categories.main"
            class="ch.hilbri.assist.scheduling.ui.wizards.NewSchedulingSpecificationWizard"
            icon="icons/scheduling-specification.gif"
            id="ch.hilbri.assist.scheduling.wizards.newSchedulingSpecification"
            name="Scheduling - Specification"
            project="false">
         <description>
            This wizard creates a new scheduling specification file with *.sdsl extension.
         </description>
      </wizard>
   </extension>

</plugin>
