<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension id="application" point="org.eclipse.core.runtime.applications">
      <application cardinality="singleton-global" thread="main" visible="true">
         <run
               class="ch.hilbri.assist.gui.Application">
         </run></application>
   </extension>
   
   <extension id="product" point="org.eclipse.core.runtime.products">
   	<product application="ch.hilbri.assist.gui.application" name="ASSIST">
	    <property name="appName" value="ASSIST"> </property>
	    <property name="applicationXMI" value="ch.hilbri.assist.gui/Application.e4xmi"></property>
	    <property name="lifeCycleURI"   value="bundleclass://ch.hilbri.assist.gui/ch.hilbri.assist.gui.splash.LifeCycleManager"></property>
  	</product>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="ch.hilbri.assist.gui.MainPerspectiveFactory"
            fixed="true"
            id="ch.hilbri.assist.gui.perspective"
            name="ASSIST - Main">
      </perspective>
   </extension>

	<extension point="org.eclipse.ui.activities"> 
		<activity id="ch.hilbri.assist.application.activity.disable" name="disable">
			<enabledWhen><with variable="true"><equals value="false"></equals></with></enabledWhen>
		</activity>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.emf.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.pde.ui.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.pde.ds.ui.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.pde.ua.ui.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.debug.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.debug.ui.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.ui.run"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.jdt.debug.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.jdt.debug.ui.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.jdt.junit.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.jdt.ui.wizards.*"></activityPatternBinding>
		<!-- 
			I had to enable these activities to have the java editor for the mapping metrics
		
			<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.jdt.ui.*"></activityPatternBinding> 
		-->
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.ant.*"></activityPatternBinding>
 		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/ch.hilbri.assist.datamodel.model.editor*"></activityPatternBinding>
   		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.ui.externaltools.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.ui.wizards.new.*"></activityPatternBinding>
 		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.ui.editors.wizards.*"></activityPatternBinding> 
 		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.xtext.xtext.*"></activityPatternBinding> 
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.xtext.examples.*"></activityPatternBinding> 
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.xtend.ide.*"></activityPatternBinding> 
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.xtend.examples.*"></activityPatternBinding>
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.e4.tools.*"></activityPatternBinding> 
		<activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.wb.*"></activityPatternBinding> 
 	    <activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.team.ui.ProjectSetImportWizard"></activityPatternBinding> 
 	    <activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.equinox.p2.replication.importfrominstallation"></activityPatternBinding> 
 	    <activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.equinox.p2.replication.import"></activityPatternBinding> 
 	    <activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.ui.wizards.import.Preferences"></activityPatternBinding> 
 	    <activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.ui.wizards.import.ZipFile"></activityPatternBinding> 
        <activityPatternBinding activityId="ch.hilbri.assist.application.activity.disable" pattern=".*/org.eclipse.e4.ui.importer.wizard"></activityPatternBinding> 
 	</extension>
 	
 	<extension
        point="org.eclipse.ui.newWizards">
     <category
           id="ch.hilbri.assist.categories.main"
           name="ASSIST">
     </category>
     <wizard
           canFinishEarly="false"
           category="ch.hilbri.assist.categories.main"
           class="ch.hilbri.assist.gui.wizards.NewAssistProjectWizard"
           hasPages="true"
           icon="icons/newprj_wiz.png"
           id="ch.hilbri.assist.gui.wizards.newproject"
           name="ASSIST Project"
           project="true">
     </wizard>
  </extension>
  <extension
        point="org.eclipse.jdt.ui.classpathContainerPage">
     <classpathContainerPage
           class="ch.hilbri.assist.gui.classpath.ASSISTClasspathContainerPage"
           id="ch.hilbri.assist.gui.classpathContainer"
           name="ASSIST Libraries">
     </classpathContainerPage>
  </extension>
  <extension
        point="org.eclipse.jdt.core.classpathContainerInitializer">
     <classpathContainerInitializer
           class="ch.hilbri.assist.gui.classpath.ASSISTClasspathContainerInitializer"
           id="ch.hilbri.assist.gui.classpathContainer">
     </classpathContainerInitializer>
  </extension>
  <extension
        point="org.eclipse.ui.importWizards">
     <category
           id="ch.hilbri.assist.gui.category.main"
           name="ASSIST">
     </category>
  </extension>
  <extension
        point="org.eclipse.ui.exportWizards">
     <category
           id="ch.hilbri.assist.gui.category.main"
           name="ASSIST">
     </category>
  </extension>
 </plugin>
