<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
 Copyright 2014 - Robert Hilbrich
-->

<plugin>


   <extension point="org.eclipse.ui.editors">
      <!-- @generated ASSIST-Model -->
      <editor
            id="ch.hilbri.assist.model.presentation.ModelEditorID"
            name="%_UI_ModelEditor_label"
            icon="icons/full/obj16/ModelModelFile.gif"
            extensions="model"
            class="ch.hilbri.assist.model.presentation.ModelEditor"
            contributorClass="ch.hilbri.assist.model.presentation.ModelActionBarContributor">
      </editor>
   </extension>

</plugin>
