<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="ch.hilbri.assist.dse.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <wizard
            canFinishEarly="false"
            category="ch.hilbri.assist.categories.main"
            class="ch.hilbri.assist.dse.ui.wizards.NewDSESpecificationWizard"
            icon="icons/dse-specification.gif"
            id="ch.hilbri.assist.dse.wizards.newDSESpecification"
            name="Design Space Exploration - Specification"
            project="false">
         <description>
            This wizard creates a new design space exploration specification file with *.ddsl extension.
         </description>
      </wizard>
   </extension>on>

</plugin>
