<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ASSIST-DSE-Model -->
      <package
            uri="ch.hilbri.assist.dse.model"
            class="ch.hilbri.assist.dse.model.ModelPackage"
            genModel="model/ASSIST-DSE-Model.xcore"/>
   </extension>

</plugin>
