<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ASSIST-Model -->
      <package
            uri="ch.hilbri.assist.mapping.model"
            class="ch.hilbri.assist.mapping.model.ModelPackage"
            genModel="model/ASSIST-Model.xcore"/>
   </extension>

</plugin>
