<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ASSIST -->
      <package
            uri="ch.hilbri.assist.model"
            class="ch.hilbri.assist.model.ModelPackage"
            genModel="model/ASSIST-Model.xcore"/>
   </extension>


   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated ASSIST-Mapping-Result -->
      <package
            uri="ch.hilbri.assist.result.mapping"
            class="ch.hilbri.assist.result.mapping.MappingPackage"
            genModel="model/ASSIST-Mapping-Result.xcore"/>
   </extension>

</plugin>
