.default-color0.chart-bar { -fx-bar-fill: #f9d900; }
.default-color1.chart-bar { -fx-bar-fill: #a9e200; }
.default-color2.chart-bar { -fx-bar-fill: #22bad9; }
.default-color3.chart-bar { -fx-bar-fill: #0181e2; }
.default-color4.chart-bar { -fx-bar-fill: #2f357f; }
.default-color5.chart-bar { -fx-bar-fill: #860061; }
.default-color6.chart-bar { -fx-bar-fill: #c62b00; }
.default-color7.chart-bar { -fx-bar-fill: #76EE00; }
.default-color8.chart-bar { -fx-bar-fill: #0000FF; }
.default-color9.chart-bar { -fx-bar-fill: #A8A8A8; }
.default-color10.chart-bar { -fx-bar-fill: #98F5FF; }
.default-color11.chart-bar { -fx-bar-fill: #DC143C; }
.default-color12.chart-bar { -fx-bar-fill: #00008B; }
.default-color13.chart-bar { -fx-bar-fill: #B452CD; }
.default-color14.chart-bar { -fx-bar-fill: #8A2BE2; }
.default-color15.chart-bar { -fx-bar-fill: #8E8E38; }
.default-color16.chart-bar { -fx-bar-fill: #2F4F4F; }
.default-color17.chart-bar { -fx-bar-fill: #218868; }
.default-color18.chart-bar { -fx-bar-fill: #FFD700; }
.default-color19.chart-bar { -fx-bar-fill: #00FFFF; }
.default-color20.chart-bar { -fx-bar-fill: #8B6914; }
.default-color21.chart-bar { -fx-bar-fill: #ADFF2F; }
.default-color22.chart-bar { -fx-bar-fill: #CD5555; }
.default-color23.chart-bar { -fx-bar-fill: #006400; }
.default-color24.chart-bar { -fx-bar-fill: #68838B; }
.default-color25.chart-bar { -fx-bar-fill: #ff5700; }
.default-color26.chart-bar { -fx-bar-fill: #90EE90; }
.default-color27.chart-bar { -fx-bar-fill: #CD3333; }
.default-color28.chart-bar { -fx-bar-fill: #8470FF; }
.default-color29.chart-bar { -fx-bar-fill: #9932CC; }
.default-color30.chart-bar { -fx-bar-fill: #FFA500; }

/*
.ellipse-color0 { -fx-fill: -costum-color0; }
.ellipse-color1 { -fx-fill: #a9e200; }
.ellipse-color2 { -fx-fill: #22bad9; }
.ellipse-color3 { -fx-fill: #0181e2; }
.ellipse-color4 { -fx-fill: #2f357f; }
.ellipse-color5 { -fx-fill: #860061; }
.ellipse-color6 { -fx-fill: #c62b00; }
.ellipse-color7 { -fx-fill: #76EE00; }
.ellipse-color8 { -fx-fill: #0000FF; }
.ellipse-color9 { -fx-fill: #A8A8A8; }
.ellipse-color10 { -fx-fill: #98F5FF; }
.ellipse-color11 { -fx-fill: #DC143C; }
.ellipse-color12 { -fx-fill: #00008B; }
.ellipse-color13 { -fx-fill: #B452CD; }
.ellipse-color14 { -fx-fill: #8A2BE2; }
.ellipse-color15 { -fx-fill: #8E8E38; }
.ellipse-color16 { -fx-fill: #2F4F4F; }
.ellipse-color17 { -fx-fill: #218868; }
.ellipse-color18 { -fx-fill: #FFD700; }
.ellipse-color19 { -fx-fill: #00FFFF; }
.ellipse-color20 { -fx-fill: #8B6914; }
.ellipse-color21 { -fx-fill: #ADFF2F; }
.ellipse-color22 { -fx-fill: #CD5555; }
.ellipse-color23 { -fx-fill: #006400; }
.ellipse-color24 { -fx-fill: #68838B; }
.ellipse-color25 { -fx-fill: #ff5700; }
.ellipse-color26 { -fx-fill: #90EE90; }
.ellipse-color27 { -fx-fill: #CD3333; }
.ellipse-color28 { -fx-fill: #8470FF; }
.ellipse-color29 { -fx-fill: #9932CC; }
.ellipse-color30 { -fx-fill: #FFA500; }


.level-legend {
  -fx-padding: 10; 
  -fx-border-width: 2; 
  -fx-background-color: rgba(211, 211, 211, 0.5); 
  -fx-border-color: derive(rgba(211, 211, 211, 0.7), 10%);
}*/